src/main/mule/sftptodb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<sftp:config name="SFTP_Config" doc:name="SFTP Config" doc:id="ade71ee9-5486-4124-b21a-88643785651d" >
		<sftp:connection host="techmatrixconsulting4.files.com" username="umair.a@techmatrixconsulting.com_1" password="TechNew@125" passphrase="65708875f7df6c7ae5bfd9c46cf0f959172e9d4c5f2b8bab29b96f907dff3ecc" workingDir="/" />
	</sftp:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="efb15e12-8bb0-49b0-9460-d98e961dc471" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="02cebbca-85ee-40c6-8a9a-a1738df6b164" >
		<db:my-sql-connection host="localhost" port="3306" user="root" />
	</db:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="55e9d34c-b9c8-46bf-9182-9ed40fff3e0f">
		<http:request-connection host="localhost" port="8082" />
	</http:request-config>
	<flow name="sftptodbFlow" doc:id="95b29c39-5dfe-46c7-a85b-3aff12a80257" >
		<http:listener doc:name="Listener" doc:id="c99e894d-99ec-4a76-be3f-30c75b1de654" config-ref="HTTP_Listener_config" path="/read"/>
		<logger level="INFO" doc:name="Logger" doc:id="c98d71d2-58a8-4085-adee-e8cc36253a9f" message="#[payload]"/>
		<sftp:read doc:name="Read" doc:id="c1a48106-9a76-4021-ae57-3007330d778a" config-ref="SFTP_Config" path="/customers-100000.csv" target="customerData"/>
		<http:request method="GET" doc:name="Request" doc:id="a1a0f78f-8911-4755-85f9-907a376bd316" config-ref="HTTP_Request_configuration" path="/sftpProcessAPI" target="apiResponse" targetValue="#[vars.customerData]" outputMimeType="application/java" sendBodyMode="ALWAYS" requestStreamingMode="ALWAYS" responseTimeout="30000">
			<http:body ><![CDATA[#[vars.customerData]]]></http:body>
			<http:response-validator>
				<http:expression-response-validator expression="#[payload]" />
			</http:response-validator>
		</http:request>
	</flow>
</mule>
